.main{
    margin-top: 15vh;
 color: #363936;
  background-image: -webkit-linear-gradient(270deg, #373b38 33%, #6c746e 69%, #2a2b2a 84%); 
  background-clip: text;
   -webkit-background-clip: text; 
   -webkit-text-fill-color: transparent;
          
        
    h1{
      padding: 20px;
      font-size: 4vw; 
      max-width: 80%;
      font-weight: 400;
    }
  }